{% extends 'base.html'%}
{% block content %}
<div class="container-fluid">
	<div class="row justify-content-center">
		<div class="card card-signin">
		  <div class="card-body">
		    <form action="{% url 'new-event' %}" class="form-signin" method="post">{% csrf_token %}
				<input type="text" name="name" id="inputName" class="form-control" placeholder="name" required autofocus>

				<input type="text" name="description" id="inputDescription" class="form-control" placeholder="description" required>

				<input type="datetime-local" name="schedule_date" id="inputDate" class="form-control" placeholder="Date" required>

				

		
				{% if events_form.non_field_errors %}
				<div style="color: red">
					<p>{{events_form.non_field_errors}}</p>
				</div>

				{% endif %}

				<button class="btn btn-lg btn-primary btn-block" type="submit">Add event</button>

				</form>
		  </div>
		</div>
		
	</div>
</div>

{% endblock content %}


